html, body {
    background-color: #E9C46A;
    box-sizing: border-box;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}
main {
    background-color: #E9C46A;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
}
.header {
    display: flex;
    margin-left: 32px;
}
header {
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: wavy;
    text-shadow: 0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black;
    animation: glow 2s infinite;
}
@keyframes glow {
    0% {
        text-shadow:0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black;
    }
    50% {
        text-shadow:0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black, 0 0 50px black;
    }
    100% {
        text-shadow:0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black;
    }
}
nav {
    position: absolute;
    padding-top: 12px;
    margin-top: 10px;
    display: flex;
    width: 80%;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: #264653;

    padding: 18px;
    font-size: 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin-left: 60.5%;
    width: 130px;
    padding-left: 12px;
}
.dropdown-content li {
    text-align: left;
}

.dropdown-content a {
    padding: 10px 15px;
    display: block;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #E76F51;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
    text-align: left;
}

.dropdown-content a {
    padding: 10px 15px;
    display: block;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #E76F51;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.part1 {
    text-align: center;
    
}
.part1 h1 {
    font-size: 24px;
}

h2 {
    margin-top: -70px;
    font-size: medium;
}
.part1 p {
    font-size: 16px;
    margin-bottom: 32px;
    padding-left: 5%;
    padding-right: 5%;
}
.row {
    display: flex;
    margin-left: 5%;
    justify-content: center;
}
.row img {
    width: 300px;
    height: 400px;
    margin-left: 40px;
    box-shadow: 0 0 30px 0 #2A9D8F;
    border: solid #264653;
}
.row img:hover {
    border: solid #E9C46A;
}
.about1 {
    text-align: center;
    background-color: #E76F51;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about1 h3 {
    font-size: 30px;
}
.about1 h5 {
    padding-top: 20px;
    font-size: 15px;
}
.about1 p {
    font-size: 18px;
    padding-bottom: 20px;
}
#team h4 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
.row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row3 img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 4px;
    border: 4px solid #6a994e;
    padding: 4px;
    
}
.name {
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.bio1 {
    text-align: center;
    padding: 5px;
}
.bio2 {
    text-align: center;
    padding: 5px;
    margin-left: 70px;
    margin-right: 50px;
}
.name {
    font-size: 20px;
    font-weight: bold;
}
#next {
    

    
    color: white;
    background-color: #E76F51;
    border: none;
    padding: 5px;
}
.about2 {
    text-align: center;
    background-color: white;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
.about2 h4 {
    text-align: left;
}
.apply {
    text-align: left;
    color: gray;
}
button {
    text-align: left;
    margin-left: -90%;
    margin-top: 30px;
}
.apply2 {
    display: none;
}
form {
    width: 20%;
    padding-left: 50%;
    margin-top: -20%;
    color: #2A9D8F;
}
legend {
    height: 20px;
}
input {
    background: none;
    border: none;
    width: 95%;
    padding-left: 10px;
    font-size: 15px;
}
input:focus {
    outline-style: none;
    box-shadow: none;
}
#send {
    margin-left: 80%;
    margin-top: 10px;
    padding: 5px;
}
#confirmation {
    text-align: right;
    margin-right: 30%;
    margin-top: -7%;
    animation-name: textzoom;
    animation-duration: 5s;
    display: none;
}
@keyframes textzoom {
    0% {
        font-size: 10px;
        color: black;
    }
    100% {
        font-size: 20px;
        color: #E76F51;
    }
}
footer {
    background-color: black;
    color: white;
    padding-left: 10%;
}
.more {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E76F51;
    color: #fff;
    border: none;
    padding: 8px;
    
}
.more a {
    text-decoration: none;
    color: white;
}