html, body {
    background-color: #E9C46A;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: #E9C46A;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header {
    display: flex;
    margin-left: 10%
}

header {
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: wavy;
    text-shadow: 0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black;
    animation: glow 2s infinite;
}

header h1 {
    color: white;
    font-size: 2em;
    text-decoration: wavy;
    text-shadow: 0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black;
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black;
    }
    50% {
        text-shadow: 0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black, 0 0 50px black;
    }
    100% {
        text-shadow: 0 0 20px black, 0 0 25px black, 0 0 30px black, 0 0 35px black, 0 0 40px black, 0 0 45px black;
    }
}


nav {
    position: absolute;
    padding-top: 5px;
    margin-top: 10px;
    display: flex;
    width: 80%;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #264653;
    width: 90px;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

nav a:hover {
    background-color: #e9c46a; 
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin-left: 60.5%;
    width: 130px;
    padding-left: 12px;
    z-index: 1000; 
}

.dropdown-content li {
    text-align: left;
}

.dropdown-content a {
    padding: 10px 15px;
    display: block;
    color: #000
}

.dropdown-content a:hover {
    background-color: #E76F51;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.search-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;  
}

.search-input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #264653;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: rgb(167, 44, 44);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-button:hover {
    background-color: rgb(102, 22, 22);
}
.hero-search-section {
    background-color: #F4A261; 
    padding: 40px 0;
    text-align: center;
    position: relative; 
}

.image-section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main-image {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%; 
    margin-top: 20px; 
    }

.info-box {
    width: 40%; 
    padding: 20px; 
    background-color: #f4f4f4; 
    border: 2px solid #264653; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.text {
    font-size: 35px;
}
.picture-box {
    width: 40%; 
}

.info-image {
    width: 70%; 
    height: 30%; 
    max-height: 300px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}





.image-cards {
    display: flex;
    justify-content: space-around;
    padding: 40px 10%;
}

.card {
    text-align: center;
    width: 30%;
}

.circle-image {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover; 
}

.card p {
    margin-top: 10px;
    font-size: 1.1em;
    color: #264653;
}

footer {
    margin-top: 40px;
    background-color: black;
    color: white;
    padding-left: 10%;
}

footer p {
    margin: 0;
    font-size: 1.2em;
}


.guest-box {
    display: none; 
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
    width: 100%;
    max-width: 300px; 
}


#number-of-guests-btn {
    display: inline-block; 
}

.guest-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.guest-controls {
    display: flex;
    align-items: center;
}

.guest-btn {
    background-color: rgb(167, 44, 44);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 10px;
}

.guest-btn:hover {
    background-color: #e9c46a;
}

.guest-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.guest-info p {
    font-size: 0.9em;
    color: #555;
}

hr {
    margin: 10px 0;
    border: 1px solid #ddd;
}
